<form action="/logout" method="POST" id="logoutForm">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="LogOut">
<form>

  <a href="/login/new">login</a>
  <a href="/users/new">sign up</a>