<h1>Log in new</h1>
<p class="errors"><%=@error%></p>
<form action="/login" method="POST" id="logInForm">
  Email:
  <input type="text" name="email" value="email@email.com">
  <br>
  Password:
  <input type="password" name="password">
  <br>
  <input type="submit" value="Submit">
</form>